Repository yossiee/practice-github-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, docker, documentation, Front-end, Back-end, Migration

Add composer.json
  src/composer.json
Labels: none

update commnad installing php-cs-fixer
  .github/workflows/php-cs-fixer.yml
Labels: CI/CD

php-cs-fixer success!
  src/app/Http/Controllers/ExampleController.php
Labels: Back-end

Create PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Labels: none

php-cs-fixer is true
  src/app/Http/Controllers/ExampleController.php
Labels: Back-end

Add failed blade file
  src/resources/views/index.blade.php
Labels: Front-end

.github/labeler.yml:

CI/CD:
- .github/**/*
docker:
- docker/**/*
- docker-compose.yml
documentation:
- README.md
Front-end:
- src/resources/**/*
- src/webpack.mix.js
Back-end:
- src/app/**/*
- src/routes/**
Migration:
- src/database/migrations/**
